/* whole page */
.userpage{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* header */
.userpage-header{
    width: 100%;
    height: 100px;
}

/* everything below header */

.userpage-content{
    width: 100%;
    height: -webkit-calc(100% - 100px);
    height:    -moz-calc(100% - 100px);
    height:         calc(100% - 100px);
    display: flex;
    flex-direction: row;
}

/* vertical nav */

.verticalNav{
    width: 6%;
    height: 100%;
}

/* content part */

.content-info{
    width: 84%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* hello USER ... */

.content-info-hello{
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.content-info-hello p{
    padding-left: 100px;
    width: fit-content;
    height: fit-content;
    margin: 0;
    color: black;
}

.hello{
    padding-top: 60px;
}

.hello p{
    font-size: 40px;
    font-weight: 700;
}

.hello em{
    color: red;
    text-decoration: none;
    font-style: normal;
}

.congrats{
    margin-top: 0px;
}

.congrats p{
    font-size: 17px;
}

/* stats (graphs etc...)*/

.content-info-stats{
    width: 100%;
    height: 75%;
    display: flex;
    margin-bottom: 20px;
}

.info-graphs{
    width: 80%;
    height: 100%;
    padding-left:100px;
}

.graphs-top{
    width: 100%;
    height: 45%;
    margin-bottom: 20px;
}

.graphs-bar{
    width: 100%;
    height: 100%;
    position: relative;
}

.graphs-bot{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.graphs-line{
    width: 33%;
    height: 100%;
}

.graphs-radar{
    width: 33%;
    height: 100%;
}

.graphs-radial{
    width: 33%;
    height: 100%;
}

/* cards colories lipides glucides proteines */
.info-macro{
    margin-left: 60px;
    width: 20%;
    height: 100%;
}

/* api error message */
.apinotworking{
    font-size: 30px;
    margin: 100px;
    color: black;
}

@media only screen and (max-width : 1450px){
    .userpage-content{
        width: 100%;
        height: -webkit-calc(100% - 80px);
        height:    -moz-calc(100% - 80px);
        height:         calc(100% - 80px);
        display: flex;
        flex-direction: row;
        margin-top: -20px;
    }

    .content-info-hello p{
        padding-left: 30px;
    }

    .hello{
        padding-top: 30px;
    }

    .info-graphs{
        width: 90%;
        padding-left:30px;
    }

    .graphs-line{
        width: 30%;
        height: 100%;
    }
    
    .graphs-radar{
        width: 39%;
        height: 100%;
    }
    
    .graphs-radial{
        width: 30%;
        height: 100%;
    }

    .info-macro{
        width: 10%;
        margin-left: 20px;
    }
}